@import "../../../node_modules/bootstrap/scss/functions";

$secondary: #2e2d2c;
$primary: #0d6efd;
$success: green;
$info: cyan;
$warning: yellow;
$danger: red;
$light: #f8f9fa;
$dark: #212529;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$custom-colors: (
  "accent": #ffb002,
  "base": #000000,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
